*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}
         
  .clearfix::after{
   content: "";
   display: table;
   clear: both;}
     
  html {
   scroll-behavior: smooth;}

   /* Fine utility */

body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
 }

/* SECTION Header inizio */
header{
  display: flex;
  padding: 30px;
  height: 10%;
  justify-content: end;
}

.color-header{
  margin-right: 20px;
  background-color: #4A4A4A;
  color: white;
  /* height: 20px; */
  padding: 5px;
}
  .color-header a{
    text-decoration: none;
    color: white;
  }

/* !SECTION */
/* SECTION MAIN */
main{
  display: block;
  height: 80%;
  width: 100vw;
}

.container-main{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.main-video{
  position: relative;
  flex-basis: 13%;
  min-width: 200px;
  max-width: calc(100% / 7);
  height: 100%;
  min-height: 135px;
  max-height: calc(100% / 5);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  flex-grow: 1;
}

    .main-mic{
      position: absolute;
      background-color: #616D7A;
      padding: 5px;
      color: white;
      top: 70%;
      width: auto;
    }

.video1{
  background-image: url(./img/1.jpg);}

.video2{
  background-image: url(./img/2.jpg);}

.video3{
  background-image: url(./img/3.jpg);}
  
.video4{
  background-image: url(./img/4.jfif);}

.video5{
  background-image: url(./img/5.jpg);}
  
.video6{
  background-image: url(./img/6.jpg);}
  
.video7{
  background-image: url(./img/7.jpg);}
    
.video8{
  background-image: url(./img/8.png);}

.video9{
  background-image: url(./img/9.jpg);}

.video10{
  background-image: url(./img/9.jpg);}

.video11{
  background-image: url(./img/9.jpg);}

.video12{
  background-image: url(./img/9.jpg);}

.video13{
  background-image: url(./img/9.jpg);}
  
.video14{
  background-image: url(./img/9.jpg);}
  
.video15{
  background-image: url(./img/9.jpg);}
  
.video16{
  background-image: url(./img/9.jpg);}

.video17{
  background-image: url(./img/1.jpg);}
  
.video18{
  background-image: url(./img/2.jpg);}
  
.video19{
  background-image: url(./img/3.jpg);}
    
.video20{
  background-image: url(./img/4.jfif);}
  
.video21{
  background-image: url(./img/5.jpg);}
    
.video22{
  background-image: url(./img/6.jpg);}
    
.video23{
  background-image: url(./img/7.jpg);}
      
.video24{
  background-image: url(./img/8.png);}
  
.video25{
  background-image: url(./img/9.jpg);}
  
.video26{
  background-image: url(./img/9.jpg);}
  
.video27{
  background-image: url(./img/9.jpg);}
  
.video28{
  background-image: url(./img/9.jpg);}
  
.video29{
  background-image: url(./img/9.jpg);}
    
.video30{
  background-image: url(./img/9.jpg);}
    
.video31{
  background-image: url(./img/9.jpg);}
    
.video32{
  background-image: url(./img/9.jpg);}

.video33{
  background-image: url(./img/9.jpg);}
    
.video34{
  background-image: url(./img/9.jpg);}

.video35{
  background-image: url(./img/1.jpg);}

/* !SECTION */
  /* SECTION footer */
footer{
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #222222;
}
/* ANCHOR FOOTER left */

  .footer-left{
    display: flex;
    justify-content: center;
    background-color: #222222;
    padding: 10px;
    align-items: center;
  }

      .footer-left-div{
        display: flex;
        flex-direction: column;
        margin: 10px;
      }
      .footer-left-div a{
        text-decoration: none;
        color: white;
        text-align: center;
      }

      .footer-mic{
        color: white;
      }

      .footer-cam{
        color: white;
        margin: 10px;
      }

      .footer-left-arrow{
        color: white;
      }

/* ANCHOR FOOTER Middle */
  .footer-middle{
    display: flex;
  }

      .footer-middle-icon{
          display: flex;
          flex-direction: column;
          width: 50px;
          height: 20px;
          margin: 20px;
          vertical-align: auto;
 
      }

      .footer-middle-icon a{
        text-decoration: none;
        color: white;
        text-align: center;
      }

      .footer-middle-icon a:nth-child(2){
        font-size: 0.8em;
        text-align:center;
        font-size: 0.5em;
      }

/* ANCHOR FOOTER Right */
  .footer-right{
    background-color: #4A4A4A;
    padding: 45px;

  }

  .footer-right a{
    color: red;
    text-decoration: none;
  }



